* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2C2B2F;
}

.slider {
    width: 1000px;
    height: 500px;
    overflow: hidden;
    border: 1px solid white;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.bar {
    height: 15px;
    width: 50px;
    margin: 6px;
    cursor: pointer;
    background-color: red;
    opacity: 0.5;
    border-radius: 10px;
    transition: all 0.4s;
}

.bar:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

input[name="slide"] {
    position: absolute;
    visibility: hidden;
}